imports

In [1]:
import pandas as pd
import numpy as np

read csv files

In [2]:
aisles=pd.read_csv("C:\\Users\\kareem khouri\\Desktop\\project\\datasets\\aisles.csv")
departments=pd.read_csv("C:\\Users\\kareem khouri\\Desktop\\project\\datasets\\departments.csv")
order_products_prior=pd.read_csv("C:\\Users\\kareem khouri\\Desktop\\project\\datasets\\order_products__prior.csv")
order_products_train=pd.read_csv("C:\\Users\\kareem khouri\\Desktop\\project\\datasets\\order_products__train.csv")
orders=pd.read_csv("C:\\Users\\kareem khouri\\Desktop\\project\\datasets\\orders.csv")
products=pd.read_csv("C:\\Users\\kareem khouri\\Desktop\\project\\datasets\\products.csv")

save memory

In [3]:
def reduce_memory(df):
  for column in df.columns:
    if df[column].dtype != object:
      if df[column].dtype == 'int64':
        df[column]=df[column].astype('int32')
      if df[column].dtype == 'float64':
        df[column]=df[column].astype('float32')
  return df
aisles=reduce_memory(aisles) 
departments=reduce_memory(departments) 
order_products_prior=reduce_memory(order_products_prior) 
order_products_train=reduce_memory(order_products_train) 
orders=reduce_memory(orders) 
products=reduce_memory(products)

join files

In [4]:
all_products=products.merge(aisles,on='aisle_id',how='left')
all_products=all_products.merge(departments,on='department_id',how='left')
df=pd.merge(order_products_prior, all_products, on='product_id', how='left')
df_prior=pd.merge(df, orders, on='order_id', how='left')

In [5]:
df_prior.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,Organic Egg Whites,86,16,eggs,dairy eggs,202279,prior,3,5,9,8.0
1,2,28985,2,1,Michigan Organic Kale,83,4,fresh vegetables,produce,202279,prior,3,5,9,8.0
2,2,9327,3,0,Garlic Powder,104,13,spices seasonings,pantry,202279,prior,3,5,9,8.0
3,2,45918,4,1,Coconut Butter,19,13,oils vinegars,pantry,202279,prior,3,5,9,8.0
4,2,30035,5,0,Natural Sweetener,17,13,baking ingredients,pantry,202279,prior,3,5,9,8.0

In [6]:
all_products=products.merge(aisles,on='aisle_id',how='left')
all_products=all_products.merge(departments,on='department_id',how='left')
df=pd.merge(order_products_train, all_products, on='product_id', how='left')
df_train=pd.merge(df, orders, on='order_id', how='left')

In [7]:
df_train.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302,1,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs,112108,train,4,4,10,9.0
1,1,11109,2,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,other creams cheeses,dairy eggs,112108,train,4,4,10,9.0
2,1,10246,3,0,Organic Celery Hearts,83,4,fresh vegetables,produce,112108,train,4,4,10,9.0
3,1,49683,4,0,Cucumber Kirby,83,4,fresh vegetables,produce,112108,train,4,4,10,9.0
4,1,43633,5,1,Lightly Smoked Sardines in Olive Oil,95,15,canned meat seafood,canned goods,112108,train,4,4,10,9.0